@model IQueryable<Curso>
@{
    Layout = "_Secundario";

}


<h1>Listado Cursos</h1>
<h5>@ViewBag.autor</h5>

<form asp-controller="Linq" asp-action="ListaCursos" method="GET">
   <div class="row">

       <div class="col-md-4">
           <label>Filtro</label>
           <input name="filtro" value="@ViewBag.filtro"/>

       </div>

        

        <div class="col-md-4">
            <label>Fecha Desde:</label>
            <input type="date" name="fechaDesde" value="@ViewBag.fechaDesde" />

      </div>

   
    
    

    <div class="col-md-4">
        <label>Fecha Hasta</label>
        <input type="date" name="fechaHasta" value="@ViewBag.fechaHasta" />

        </div>
    
   <div class="col-md-4">
        <button class="btn btn-primary" type="submit">Enviar</button>
   </div>

</form>
<table class="table table-striped">
    @foreach (var asig in Model)
    {
        <tr>
            <td>@asig.Id</td>
            <td>@asig.Nombre</td>
            <td>@asig.Lugar</td>
            <td>@asig.FechaInicio</td>
            <td>@asig.Activo</td>
            
        </tr>
    }
</table>